body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 8px 12px;
    background: #1e88e5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1565c0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #bbdefb;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.progress-bar {
    width: 100%;
    background: lightgray;
    height: 20px;
    border-radius: 10px;
}

#progress {
    width: 0%;
    height: 20px;
    background: #43a047;
    border-radius: 10px;
}

#timer {
    font-size: 22px;
    font-weight: bold;
}
